.idea/
.vscode/

# Environments
authenv/
venv/

data/new-data
data/6faces/
data/9faces/
data/12plusfaces/
data/12plusbias/
data/pictures5/
test.jpg

#models
models/tf
models/keras

__pycache__/
.ipynb_checkpoints